<div
  class="h-full w-full flex flex-col gap-2 dark:bg-slate-700 bg-white"
  [ngClass]="{
  'pr-4 pb-4 pt-2': !appSettingsFacade.isPreview$(),
  }"
  brnTabs="{{ activeId() }}"
>
  <hlm-tabs-list
    [orientation]="appSettingsFacade.isPreview$() ? 'preview' : 'horizontal'"
    aria-label="tabs example"
  >
    <div class="grid grid-flow-col justify-start w-full gap-2">
      @for (grid of grids(); track grid.id) {
      <button
        class="data-[state=active]:cursor-default data-[state=active]:bg-accent data-[state=active]:border-accent data-[state=active]:hover:border-accent data-[state=active]:dark:hover:border-accent data-[state=active]:shadow-sm data-[state=active]:text-white dark:text-slate-300 border hover:border-gray-400 dark:border-slate-600 dark:hover:border-slate-400 disabled:opacity-50 disabled:pointer-events-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring font-medium inline-flex items-center justify-center px-3 py-1.5 ring-offset-background rounded-sm text-sm transition-all whitespace-nowrap"
        hlmTabsTrigger="{{ grid.id }}"
        (click)="select(grid.id); $event.stopPropagation()"
      >
        {{ grid.name }}
      </button>
      }
    </div>
    @if (!appSettingsFacade.isPreview$()) {
    <fluent-button
      class="justify-self-end"
      slot="end"
      appearance="accent"
      (click)="addNewGrid()"
      >+</fluent-button
    >
    }
  </hlm-tabs-list>
  @if (appSettingsFacade.isPreview$()) {
  <fluent-button
    class="justify-self-end absolute top-1 right-9 z-[90]"
    slot="end"
    appearance="accent"
    (click)="appSettingsFacade.togglePreview()"
    >End Preview</fluent-button
  >
  } @for (grid of grids(); track grid.id) {
  <div class="h-full w-full flex-grow mt-0" hlmTabsContent="{{ grid.id }}">
    <div
      class="bg-gray-100 dark:bg-gray-900 rounded-md w-full h-full"
      [ngClass]="{
  'pl-2 pt-2': appSettingsFacade.isPreview$(),
  }"
    >
      <grid-builder-grid [grid]="grid"></grid-builder-grid>
    </div>
  </div>
  }
</div>
