<fluent-tabs
  class="h-full w-full px-4 py-2 gap-y-2"
  activeid="{{ activeId() }}"
>
  @for (grid of grids(); track grid.id) {
  <fluent-tab
    id="{{ grid.id }}"
    size="Large"
    class="flex-grow-0 text-lg"
    (click)="changeTab(grid.id)"
  >
    {{ grid.name }}
  </fluent-tab>
  <fluent-tab-panel id="{{ grid.id }}" class="h-full w-full flex-grow">
    <div class="bg-gray-100 rounded-md w-full h-full">
      <grid-builder-grid [grid]="grid"></grid-builder-grid>
    </div>
  </fluent-tab-panel>
  }
</fluent-tabs>
