:host {
  height: 100vh;
  display: block;
}

.layout {
  display: grid;
  grid-template-columns: minmax(200px, 276px) 7fr;
  grid-template-rows: 64px auto;
  height: 100%;
  overflow: hidden;
}

.nav {
  grid-area: 1 / 1 / 2 / 3;
}

.side {
  grid-area: 2 / 1 / 4 / 1;
}

.main {
  grid-area: 2 / 2 / 4 / 2;
}
