:host {
  height: 100vh;
  display: block;
}

.nav {
  grid-area: 1 / 1 / 2 / 4;
}

.side {
  grid-area: 2 / 1 / 4 / 1;
  position: relative;
}

.main {
  grid-area: 2 / 3 / 4 / 3;
}

.itemsbar {
  grid-area: 2 / 2 / 4 / 2;
}
