<div
  class="w-full py-4 flex justify-between items-center bg-gray-200 dark:bg-slate-900 dark:text-white h-full pl-16 pr-8"
>
  <div>Logo</div>

  <div class="flex gap-2 items-center">
    <brn-popover>
      <button
        class="text-amber-300 hover:text-amber-500 disabled:text-gray-300 group"
        brnPopoverTrigger
        [disabled]="gridsFacade.selectWarnings$()?.length === 0"
      >
        <ng-icon
          class="trainsition-all cursor-pointer -mb-1.5 group-disabled:cursor-auto"
          name="radixExclamationTriangle"
          [disabled]="gridsFacade.selectWarnings$()?.length === 0"
          size="1.25rem"
        ></ng-icon>
      </button>

      <div
        class="mt-[1rem] border-0 ring ring-amber-200"
        hlmPopoverContent
        *brnPopoverContent="let ctx"
      >
        @if(gridsFacade.selectWarnings$(); as warnings) {
        <div>
          @for (w of warnings; track w) {
          <p class="text-sm">{{ w }}</p>
          }
        </div>
        }
      </div>
    </brn-popover>

    <brn-popover>
      <button
        class="text-red-300 hover:text-red-600 disabled:text-gray-300 group"
        brnPopoverTrigger
        [disabled]="gridsFacade.selectErrors$()?.length === 0"
      >
        <ng-icon
          class="transition-all cursor-pointer -mb-1.5 group-disabled:cursor-auto"
          name="radixCrossCircled"
          size="1.25rem"
        ></ng-icon>
      </button>

      <div
        class="mt-[1rem] ring border-0 ring-red-200"
        hlmPopoverContent
        *brnPopoverContent="let ctx"
      >
        @if(gridsFacade.selectErrors$(); as errors) {
        <div class="">
          @for (err of errors; track err) {
          <p class="text-sm">{{ err }}</p>
          }
        </div>
        }
      </div>
    </brn-popover>

    <hlm-sheet>
      <button
        side="left"
        variant="default"
        brnSheetTrigger
        hlmBtn
        class="w-full"
        (click)="generate()"
        [disabled]="
          gridsFacade.selectErrors$()?.length &&
          gridsFacade.selectErrors$().length > 0
        "
      >
        Generate
      </button>

      <hlm-sheet-content
        class="dark:bg-slate-900"
        *brnSheetContent="let ctx"
        (closeClicked)="clickedClose()"
      >
        <hlm-sheet-header>
          <h3 hlmSheetTitle>Your Code</h3>
        </hlm-sheet-header>
        <div
          hlmSheetDescription
          class="h-full flex flex-col gap-4 overflow-y-auto pb-8"
        >
          @if(gridsFacade.selectGenerated$()?.css; as css) {
          <div class="flex flex-col gap-2">
            <h3 hlmSheetTitle>CSS</h3>
            <div class="relative w-full group">
              <button
                hlmBtn
                variant="outline"
                (click)="copy('css')"
                class="absolute top-2 right-2 hidden group-hover:grid text-white h-min place-items-center"
              >
                <hlm-icon name="radixClipboardCopy" size="1.25rem"></hlm-icon>
              </button>
              <pre><code class="text-xs whitespace-pre-wrap inline-block" [highlight]="css"></code></pre>
            </div>
          </div>
          } @if(gridsFacade.selectGenerated$()?.html; as html) {
          <div class="flex flex-col gap-2">
            <h3 hlmSheetTitle>HTML</h3>
            <div class="relative w-full group">
              <button
                hlmBtn
                variant="outline"
                (click)="copy('html')"
                class="absolute top-2 right-2 hidden group-hover:grid text-white h-min place-items-center"
              >
                <hlm-icon name="radixClipboardCopy" size="1.25rem"></hlm-icon>
              </button>
              <code
                class="whitespace-pre-wrap inline-block w-full"
                [highlight]="html"
              ></code>
            </div>
          </div>
          }
        </div>
      </hlm-sheet-content>
    </hlm-sheet>
    <button
      hlmBtn
      variant="outline"
      class="dark:text-white transition-colors"
      (click)="appSettingsFacade.togglePreview()"
    >
      Preview
    </button>

    <button
      #preset
      class="dark:text-white dark:border-slate-600 dark:hover:border-slate-400"
      [brnMenuTriggerFor]="menu"
      variant="outline"
      hlmBtn
    >
      Preset
    </button>
    <ng-template #menu>
      <div
        class="p-2 border dark:bg-slate-900 dark:border-white bg-white border-slate-800/10 rounded-sm mt-4"
      >
        <hlm-menu-group>
          <hlm-menu-group>
            @for (p of presets; track p.id) {
            <button hlmMenuItem (click)="preset.click(); select(p.id)">
              {{ p.name }}
            </button>

            }
          </hlm-menu-group>
        </hlm-menu-group>
      </div>
    </ng-template>

    <brn-separator
      hlmSeparator
      class="dark:bg-slate-400 bg-gray-400 min-h-4"
      orientation="vertical"
    ></brn-separator>

    <div class="flex">
      <button
        hlmBtn
        variant="outline"
        class="dark:text-white rounded-r-none border-r-[0.5px] border-collapse transition-colors"
        (click)="save()"
      >
        <hlm-icon name="radixDownload" size="1.25rem"></hlm-icon>
      </button>
      <button
        hlmBtn
        variant="outline"
        class="dark:text-white rounded-l-none border-l-[0.5px] border-collapse transition-colors"
        (click)="save()"
      >
        <hlm-icon name="radixUpload" size="1.25rem"></hlm-icon>
      </button>
    </div>

    <brn-separator
      hlmSeparator
      class="dark:bg-slate-400 bg-gray-400 min-h-4"
      orientation="vertical"
    ></brn-separator>

    <button
      hlmBtn
      variant="outline"
      class="dark:text-white transition-colors"
      (click)="
        appSettingsFacade.setDarkMode(
          appSettingsFacade.isDarkMode$() ? false : true
        )
      "
    >
      <hlm-icon
        [name]="appSettingsFacade.isDarkMode$() ? 'radixMoon' : 'radixSun'"
        size="1.25rem"
      ></hlm-icon>
    </button>
  </div>
</div>
