<div
  class="w-full py-4 flex justify-between items-center bg-gray-200 dark:bg-zinc-900 dark:text-white h-full px-4"
>
  <div class="flex gap-4 items-center">
    <a
      href="http://sarp-can.com"
      class="relative w-48 min-w-24 grid place-items-center grid-flow-col cursor-pointer group text-[0.5rem] sm:text-xs md:text-sm"
    >
      <div
        class="absolute w-full h-full px-8 py-6 bg-zinc-100/10 transition-all rounded-md group-hover:bg-slate-100/40"
      ></div>
      <img
        class="w-8"
        class="z-10"
        src="assets/logo/grid-builder-logo.svg"
        alt="logo"
        width="35px"
      />
      <div>Grid Builder</div>
    </a>

    <div>
      <hlm-dialog>
        <button
          hlmBtn
          variant="ghost"
          id="edit-profile"
          brnDialogTrigger
          hlmBtn
        >
          About
        </button>
        <hlm-dialog-content
          class="dark:text-slate-200 sm:max-w-[425px] md:max-w-[800px] lg:max-w-[1024px] dark:bg-neutral-900"
          *brnDialogContent="let ctx"
        >
          <hlm-dialog-header>
            <h3 hlmDialogTitle>About</h3>
            <div hlmDialogDescription></div>
          </hlm-dialog-header>
          <grid-builder-about></grid-builder-about>
        </hlm-dialog-content>
      </hlm-dialog>
    </div>

    <div>
      <hlm-dialog>
        <button
          hlmBtn
          variant="ghost"
          id="edit-profile"
          brnDialogTrigger
          hlmBtn
        >
          How to
        </button>
        <hlm-dialog-content
          class="dark:text-slate-200 sm:max-w-[425px] md:max-w-[800px] lg:max-w-[1024px] dark:bg-neutral-900"
          *brnDialogContent="let ctx"
        >
          <hlm-dialog-header>
            <h3 hlmDialogTitle>How to</h3>
            <div hlmDialogDescription></div>
          </hlm-dialog-header>
          <grid-builder-how-to></grid-builder-how-to>
        </hlm-dialog-content>
      </hlm-dialog>
    </div>
  </div>
  <div class="flex gap-2 items-center">
    <brn-popover>
      <button
        class="grid place-items-center text-amber-300 hover:text-amber-500 disabled:text-gray-300 group"
        brnPopoverTrigger
        [disabled]="gridsFacade.selectWarnings$().length === 0"
      >
        <hlm-icon
          name="radixExclamationTriangle"
          class="trainsition-all cursor-pointer -mb-1 group-disabled:cursor-auto"
          size="1.25rem"
        ></hlm-icon>
      </button>

      <div
        class="mt-[1rem] border-0 ring-1 ring-amber-200"
        hlmPopoverContent
        *brnPopoverContent="let ctx"
      >
        @if(gridsFacade.selectWarnings$(); as warnings) {
        <div>
          @for (w of warnings; track w) {
          <p class="text-sm">{{ w }}</p>
          }
        </div>
        }
      </div>
    </brn-popover>

    <brn-popover>
      <button
        class="grid place-items-center text-red-300 hover:text-red-600 disabled:text-gray-300 group"
        brnPopoverTrigger
        [disabled]="gridsFacade.selectErrors$().length === 0"
      >
        <hlm-icon
          name="radixCrossCircled"
          class="trainsition-all cursor-pointer -mb-1 group-disabled:cursor-auto"
          size="1.25rem"
        ></hlm-icon>
      </button>

      <div
        class="mt-[1rem] border-0 ring-1 ring-red-200"
        hlmPopoverContent
        *brnPopoverContent="let ctx"
      >
        @if(gridsFacade.selectErrors$(); as errors) {
        <div class="">
          @for (err of errors; track err) { @if (err) {
          <p class="text-sm">{{ err | translate }}</p>
          } }
        </div>
        }
      </div>
    </brn-popover>

    <hlm-sheet>
      <hlm-tooltip class="dark:bg-neutral-900">
        <button
          side="left"
          variant="default"
          brnSheetTrigger
          hlmBtn
          hlmTooltipTrigger
          position="below"
          aria-describedby="title"
          class="w-full"
          (click)="generate()"
          [disabled]="
            gridsFacade.selectErrors$().length &&
            gridsFacade.selectErrors$().length > 0
          "
        >
          {{ 'actions.generate' | translate }}
        </button>
        <span *brnTooltipContent
          ><p class="max-w-80">
            {{ 'actions.descriptions.generate' | translate }}
          </p></span
        >
      </hlm-tooltip>

      <hlm-sheet-content
        class="dark:bg-neutral-900"
        *brnSheetContent="let ctx"
        (closeClicked)="clickedClose()"
      >
        <hlm-sheet-header>
          <h3 hlmSheetTitle>{{ 'generated.your_code' | translate }}</h3>
        </hlm-sheet-header>
        <div
          hlmSheetDescription
          class="h-full flex flex-col gap-4 overflow-y-auto pb-8"
        >
          @if(gridsFacade.selectGenerated$()?.css; as css) {
          <div class="flex flex-col gap-2">
            <h3 hlmSheetTitle>{{ 'generated.css' | translate }}</h3>
            <div class="relative w-full group">
              <button
                hlmBtn
                variant="outline"
                (click)="copy('css')"
                class="absolute top-2 right-2 hidden group-hover:grid text-white h-min place-items-center"
              >
                <hlm-icon name="radixClipboardCopy" size="1.25rem"></hlm-icon>
              </button>
              <pre><code class="text-xs whitespace-pre-wrap inline-block" [highlight]="css"></code></pre>
            </div>
          </div>
          } @if(gridsFacade.selectGenerated$()?.html; as html) {
          <div class="flex flex-col gap-2">
            <h3 hlmSheetTitle>{{ 'generated.html' | translate }}</h3>
            <div class="relative w-full group">
              <button
                hlmBtn
                variant="outline"
                (click)="copy('html')"
                class="absolute top-2 right-2 hidden group-hover:grid text-white h-min place-items-center"
              >
                <hlm-icon name="radixClipboardCopy" size="1.25rem"></hlm-icon>
              </button>
              <code
                class="whitespace-pre-wrap inline-block w-full"
                [highlight]="html"
              ></code>
            </div>
          </div>
          }
        </div>
      </hlm-sheet-content>
    </hlm-sheet>

    <grid-builder-tooltip-button
      variant="outline"
      position="below"
      [description]="'actions.descriptions.preview' | translate"
      (click)="appSettingsFacade.togglePreview()"
    >
      {{ 'actions.preview' | translate }}
    </grid-builder-tooltip-button>

    <hlm-tooltip class="dark:bg-neutral-900">
      <button
        #preset
        class="dark:text-white dark:border-neutral-600 dark:hover:border-neutral-400"
        [brnMenuTriggerFor]="menu"
        variant="outline"
        hlmBtn
        hlmTooltipTrigger
        position="below"
        aria-describedby="title"
      >
        {{ 'actions.presets' | translate }}
      </button>
      <ng-template #menu>
        <div
          class="p-2 border dark:bg-neutral-900 dark:border-white bg-white border-neutral-800/10 rounded-sm mt-4"
        >
          <hlm-menu-group>
            <hlm-menu-group>
              @for (p of presets; track p.id) {
              <button hlmMenuItem (click)="preset.click(); select(p.id)">
                {{ p.name }}
              </button>

              }
            </hlm-menu-group>
          </hlm-menu-group>
        </div>
      </ng-template>
      <span *brnTooltipContent
        ><p class="max-w-80">
          {{ 'actions.descriptions.preset' | translate }}
        </p></span
      >
    </hlm-tooltip>
    <brn-separator
      hlmSeparator
      class="dark:bg-neutral-400 bg-gray-400 min-h-4"
      orientation="vertical"
    ></brn-separator>

    <div class="flex">
      <grid-builder-tooltip-button
        variant="outline"
        position="below"
        [description]="'actions.descriptions.download' | translate"
        (click)="save()"
        [classOverride]="
          'dark:text-white rounded-r-none border-r-[0.5px] border-collapse transition-colors'
        "
      >
        <hlm-icon name="radixDownload" size="1.25rem"></hlm-icon>
      </grid-builder-tooltip-button>

      <input
        type="file"
        class="hidden"
        accept=".json"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <grid-builder-tooltip-button
        variant="outline"
        position="below"
        [description]="'actions.descriptions.upload' | translate"
        (click)="fileUpload.click()"
        [classOverride]="
          'dark:text-white rounded-l-none border-l-[0.5px] border-collapse transition-colors'
        "
      >
        <hlm-icon name="radixUpload" size="1.25rem"></hlm-icon>
      </grid-builder-tooltip-button>
    </div>

    <brn-separator
      hlmSeparator
      class="dark:bg-neutral-400 bg-neutral-400 min-h-4"
      orientation="vertical"
    ></brn-separator>

    <grid-builder-tooltip-button
      variant="outline"
      position="below"
      [description]="'actions.descriptions.switch_dark_mode' | translate"
      (click)="
        appSettingsFacade.setDarkMode(
          appSettingsFacade.isDarkMode$() ? false : true
        )
      "
    >
      <hlm-icon
        [name]="appSettingsFacade.isDarkMode$() ? 'radixMoon' : 'radixSun'"
        size="1.25rem"
      ></hlm-icon>
    </grid-builder-tooltip-button>

    <grid-builder-language-selector
      class="h-full grid place-items-center"
    ></grid-builder-language-selector>
  </div>
</div>
