<div class="grid grid-flow-row h-full relative">
  <form [formGroup]="form" class="flex flex-col relative">
    <a
      target="_blank"
      class="hover:text-white hover:bg-accent dark:border-blue-500 dark:text-blue-500 dark:hover:bg-blue-500 dark:hover:text-white transition-all text-accent text-center w-full border-accent border h-10 grid place-items-center rounded-sm mb-2"
      href="https://www.google.com"
      >{{ 'header.support_me' | translate }}</a
    >

    <div>
      <label hlmLabel>{{ 'forms.name' | translate }}</label>
      <input class="w-full" formControlName="name" type="text" hlmInput />

      @if (name?.errors?.['required']) {
      <span hlmInputError>{{ 'forms.errors.name_required' | translate }}</span>
      }
    </div>

    <div class="flex flex-col justify-between flex-grow">
      <div hlmAccordion>
        <!-- Selection -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <div
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              #selection
            >
              {{ 'sidebar.selection' | translate }}
              <hlm-icon hlmAccIcon />
            </div>
            <span *brnTooltipContent>
              @if (!selectedElement()) {
              <div class="max-w-80">
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.selection.nothing_selected' | translate }}
                </p>
                <p>
                  {{ 'sidebar.tooltip.selection.hint' | translate }}
                </p>
              </div>
              } @else {
              <div class="max-w-80">
                <p>
                  {{ 'sidebar.tooltip.selection.hint' | translate }}
                </p>
              </div>
              }
            </span>
          </hlm-tooltip>

          <brn-accordion-content hlm class="pb-0">
            @if(selectedElement()) {

            <grid-builder-selectable-form></grid-builder-selectable-form>
            } @else {
            <div class="flex flex-col gap-2">
              <p class="text-destructive">
                {{ 'sidebar.tooltip.selection.nothing_selected' | translate }}
              </p>
              <p>
                {{ 'sidebar.tooltip.selection.hint' | translate }}
              </p>
            </div>
            }
          </brn-accordion-content>
        </div>

        <!-- Viewport -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              {{ 'sidebar.viewport' | translate }}
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent>
              <div class="flex flex-col gap-2 max-w-80">
                <p>{{ 'sidebar.tooltip.viewport.one_liner' | translate }}</p>
                <p>
                  {{ 'sidebar.tooltip.viewport.recommendation' | translate }}
                </p>
                <p>
                  {{ 'sidebar.tooltip.viewport.ordering' | translate }}
                </p>

                <div>
                  <p>
                    {{
                      'sidebar.tooltip.viewport.mixed_ordering.description'
                        | translate
                    }}
                  </p>
                  <ul class="px-8 list-decimal">
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.1' | translate
                      }}
                    </li>
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.2' | translate
                      }}
                    </li>
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.3' | translate
                      }}
                    </li>
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.4' | translate
                      }}
                    </li>
                  </ul>
                </div>
              </div>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-viewport-form></grid-builder-viewport-form>
          </brn-accordion-content>
        </div>

        <!-- Grid -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              {{ 'sidebar.grid' | translate }}
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent>
              <div class="flex flex-col gap-2 max-w-80">
                <p>{{ 'sidebar.tooltip.grid.one_liner' | translate }}</p>
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.grid.hint' | translate }}
                </p>
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.grid.hint2' | translate }}
                </p>
              </div>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-grid-form></grid-builder-grid-form>
          </brn-accordion-content>
        </div>

        <!-- Alignment -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              {{ 'sidebar.alignment' | translate }}
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent>
              <div class="flex flex-col gap-2 max-w-80">
                <p>{{ 'sidebar.tooltip.alignment.one_liner' | translate }}</p>
                <p>{{ 'sidebar.tooltip.alignment.items' | translate }}</p>
                <p>{{ 'sidebar.tooltip.alignment.content' | translate }}</p>
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.alignment.hint' | translate }}
                </p>
              </div>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-alignment-form></grid-builder-alignment-form>
          </brn-accordion-content>
        </div>

        <!-- Gaps -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              {{ 'sidebar.gaps' | translate }}
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent
              ><p class="max-w-80">
                {{ 'sidebar.tooltip.gaps' | translate }}
              </p></span
            >
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-gap-form></grid-builder-gap-form>
          </brn-accordion-content>
        </div>
        <!-- Globals -->
        <div hlmAccordionItem>
          <hlm-tooltip class="dark:bg-slate-900">
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              {{ 'sidebar.globals' | translate }}
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent>{{
              'sidebar.tooltip.globals' | translate
            }}</span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-globals-form></grid-builder-globals-form>
          </brn-accordion-content>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <!-- row / column controls -->

        <div class="w-full flex justify-between items-center gap-4">
          <hlm-tooltip class="dark:bg-slate-900">
            <button
              hlmBtn
              hlmTooltipTrigger
              position="above"
              aria-describedby="title"
              variant="outline"
              class="group hover:border-red-500 dark:hover:border-red-500 p-2"
              (click)="removeRow()"
            >
              <hlm-icon
                class="group-hover:text-red-500 dark:text-white"
                name="radixMinus"
                size="0.75rem"
              ></hlm-icon>
            </button>
            <span *brnTooltipContent
              ><p class="max-w-80">
                {{ 'actions.descriptions.remove_row' | translate }}
              </p></span
            >
          </hlm-tooltip>
          <span>{{ 'sidebar.rows' | translate }}</span>

          <grid-builder-tooltip-button
            position="above"
            variant="default"
            [description]="'actions.descriptions.add_row' | translate"
            [classOverride]="'p-2 border border-transparent'"
            (click)="addRow()"
          >
            <hlm-icon name="radixPlus" size="0.75rem"></hlm-icon>
          </grid-builder-tooltip-button>
        </div>

        <div class="w-full flex justify-between items-center gap-4">
          <hlm-tooltip class="dark:bg-slate-900">
            <button
              hlmBtn
              hlmTooltipTrigger
              position="above"
              aria-describedby="title"
              variant="outline"
              class="group hover:border-red-500 dark:hover:border-red-500 p-2"
              (click)="removeCol()"
            >
              <hlm-icon
                class="group-hover:text-red-500 dark:text-white"
                name="radixMinus"
                size="0.75rem"
              ></hlm-icon>
            </button>
            <span *brnTooltipContent
              ><p class="max-w-80">
                {{ 'actions.descriptions.remove_column' | translate }}
              </p></span
            >
          </hlm-tooltip>
          <span>{{ 'sidebar.columns' | translate }}</span>
          <grid-builder-tooltip-button
            position="above"
            variant="default"
            [description]="'actions.descriptions.add_column' | translate"
            [classOverride]="'p-2 border border-transparent'"
            (click)="addCol()"
          >
            <hlm-icon name="radixPlus" size="0.75rem"></hlm-icon>
          </grid-builder-tooltip-button>
        </div>

        <!-- reset controls -->

        <div class="w-full flex justify-between items-center gap-2">
          <grid-builder-tooltip-button
            position="above"
            variant="ghost"
            [description]="'actions.descriptions.reset' | translate"
            class="w-1/2 group"
            (click)="reset()"
          >
            <span class="group-hover:text-red-500">{{
              'actions.reset' | translate
            }}</span>
          </grid-builder-tooltip-button>

          <grid-builder-tooltip-button
            position="above"
            variant="outline"
            [description]="'actions.descriptions.delete_grid' | translate"
            class="w-1/2 group text-nowrap hover:border-red-500 dark:hover:border-red-500"
            (click)="removeGrid()"
          >
            <span class="group-hover:text-red-500">{{
              'actions.delete_grid' | translate
            }}</span>
          </grid-builder-tooltip-button>
        </div>
      </div>
    </div>
  </form>
</div>
