<div class="grid grid-flow-row h-full relative">
  <form [formGroup]="form" class="flex flex-col gap-2 relative">
    <div class="flex flex-col px-4 pb-2 gap-4 rounded-lg border-gray-300">
      <hlm-sheet>
        <button
          side="left"
          variant="default"
          brnSheetTrigger
          hlmBtn
          class="w-full"
          (click)="generate()"
        >
          Generate
        </button>

        <hlm-sheet-content
          *brnSheetContent="let ctx"
          (closeClicked)="clickedClose()"
        >
          <hlm-sheet-header>
            <h3 hlmSheetTitle>Your Code</h3>
          </hlm-sheet-header>
          <div
            hlmSheetDescription
            class="h-full flex flex-col gap-4 overflow-y-auto pb-8"
          >
            @if(generated()?.css; as css) {
            <div class="flex flex-col gap-2">
              <h3 hlmSheetTitle>CSS</h3>
              <pre><code class="text-xs" [highlight]="css"></code></pre>
            </div>
            } @if(generated()?.html; as html) {
            <div class="flex flex-col gap-2">
              <h3 hlmSheetTitle>HTML</h3>
              <pre><code [highlight]="html"></code></pre>
            </div>
            }
          </div>
        </hlm-sheet-content>
      </hlm-sheet>

      <div class="w-full flex justify-center gap-2">
        <fluent-button
          appearance="stealth"
          class="w-1/2 group"
          (click)="reset()"
          ><span class="group-hover:text-red-500">Reset</span></fluent-button
        >
        <fluent-button appearance="outline" class="w-1/2"
          >Preview</fluent-button
        >
      </div>
    </div>
    <fluent-divider
      appearance="strong"
      orientation="horizontal"
      role="separator"
      style="border-width: 0.1px"
    ></fluent-divider>

    <div>
      <label hlmLabel>Name</label>
      <input class="w-full" formControlName="name" type="text" hlmInput />

      @if (name?.errors?.['required']) {
      <span hlmInputError>A name is required</span>
      }
    </div>

    <div class="flex flex-col justify-between flex-grow">
      <div hlmAccordion>
        <!-- Selection -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <div
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              #selection
            >
              Selection
              <hlm-icon hlmAccIcon />
            </div>
            <span *brnTooltipContent>
              @if (!selectedElement()) {
              <div>
                <p class="text-destructive">
                  You did not select an interactable element
                </p>
                <p>Try selecting a row, column or item!</p>
              </div>
              } @else {
              <div>
                <p>Select a column, row or cell to edit this form</p>
                <p>Try selecting a row, column or item!</p>
              </div>
              }
            </span>
          </hlm-tooltip>

          <brn-accordion-content hlm class="pb-0">
            <grid-builder-selectable-form></grid-builder-selectable-form>
          </brn-accordion-content>
        </div>

        <!-- Viewport -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              Viewport
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent>
              <div class="flex flex-col gap-2 max-w-80">
                <p>Change the responsiveness of your grid</p>
                <p class="">
                  It's recommended to not mix 'From' and 'To'. You should also
                  stick to one unit type. Otherwise weird visuals may occur.
                </p>
                <p>
                  Viewports with 'From' and 'From/ To' will be sorted in
                  ascending order. Viewports with 'To' will be sorted in
                  descending order.
                </p>

                <div>
                  <p>When mixing viewport specifier, the order will be:</p>
                  <ul class="px-8 list-decimal">
                    <li>None</li>
                    <li>To</li>
                    <li>From</li>
                    <li>From/ To</li>
                  </ul>
                </div>
              </div>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-viewport-form></grid-builder-viewport-form>
          </brn-accordion-content>
        </div>

        <!-- Grid -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              Grid
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent>
              <p>Change the Width and Height of your grid</p>
              <p class="text-destructive">
                Changing these values to low static values may make interaction
                hard and may cause weird visuals
              </p>
              <p class="text-destructive">
                You may want to select a row or column instead to change their
                dimensions
              </p>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-grid-form></grid-builder-grid-form>
          </brn-accordion-content>
        </div>

        <!-- Gaps -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              Gaps
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent
              >Change the space between cells in row and column directions</span
            >
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-gap-form></grid-builder-gap-form>
          </brn-accordion-content>
        </div>
        <!-- Globals -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
            >
              Globals
              <hlm-icon hlmAccIcon />
            </button>
            <span *brnTooltipContent>Tooltip describing the globals form</span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-globals-form></grid-builder-globals-form>
          </brn-accordion-content>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between items-center gap-4">
          <fluent-button
            appearance="outline"
            class="group"
            (click)="removeRow()"
            ><span class="group-hover:text-red-500">-</span></fluent-button
          >
          <span>Rows</span>

          <fluent-button appearance="accent" class="" (click)="addRow()"
            >+</fluent-button
          >
        </div>

        <div class="w-full flex justify-between items-center gap-4">
          <fluent-button
            appearance="outline"
            class="group"
            (click)="removeCol()"
            ><span class="group-hover:text-red-500">-</span></fluent-button
          >
          <span>Columns</span>
          <fluent-button appearance="accent" class="" (click)="addCol()"
            >+</fluent-button
          >
        </div>

        <div class="w-full flex justify-between items-center gap-4">
          <fluent-button
            appearance="outline"
            class="w-full group"
            (click)="removeGrid()"
            ><span class="group-hover:text-red-500"
              >Delete Grid</span
            ></fluent-button
          >
        </div>
      </div>
    </div>
  </form>
</div>
