<div class="grid grid-flow-row h-full relative">
  <form [formGroup]="form" class="flex flex-col relative">
    <div
      class="flex gap-2 items-center justify-between"
      [ngClass]="{
      'flex-col-reverse mb-0': !appSettingsFacade.isSidebarOpen$(),
      'mb-2': appSettingsFacade.isSidebarOpen$(),
      }"
    >
      <a
        target="_blank"
        class="mb-0 hover:text-white hover:bg-accent dark:border-blue-500 dark:text-blue-500 dark:hover:bg-blue-500 dark:hover:text-white transition-all text-accent text-center border-accent border h-10 grid place-items-center rounded-sm"
        href="https://www.google.com"
        [ngClass]="{
      'px-2': !appSettingsFacade.isSidebarOpen$(),
              'px-4': appSettingsFacade.isSidebarOpen$(),

      }"
      >
        @if (appSettingsFacade.isSidebarOpen$()) {
        {{ 'header.support_me' | translate }}
        } @else {
        {{ 'header.support_me_mini' | translate }}
        }</a
      >
      <button
        hlmButton
        variant="ghost"
        class="grid place-items-center dark:hover:bg-neutral-600 rounded-md h-8 w-8"
        (click)="
          appSettingsFacade.setSidebarOpened(
            !appSettingsFacade.isSidebarOpen$()
          )
        "
      >
        @if (appSettingsFacade.isSidebarOpen$()) {
        <hlm-icon
          class="flex-grow flex-shrink-0"
          name="radixDoubleArrowLeft"
        ></hlm-icon>
        } @else {
        <hlm-icon
          class="flex-grow flex-shrink-0"
          name="radixDoubleArrowRight"
        ></hlm-icon>
        }
      </button>
    </div>
    @if (appSettingsFacade.isSidebarOpen$()) {
    <div>
      <label hlmLabel>{{ 'forms.name' | translate }}</label>
      <input class="w-full" formControlName="name" type="text" hlmInput />

      @if (name?.errors?.['required']) {
      <span hlmInputError>{{ 'forms.errors.name_required' | translate }}</span>
      }
    </div>
    }
    <div
      class="flex flex-col justify-between flex-grow"
      [ngClass]="{
      'w-8': !appSettingsFacade.isSidebarOpen$(),
      }"
    >
      <div hlmAccordion [canBeOpened]="!!appSettingsFacade.isSidebarOpen$()">
        <!-- Selection -->
        <div hlmAccordionItem [class]="'justify-center'">
          <hlm-tooltip>
            <button
              class="h-6 py-2 hover:cursor-pointer group"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              #selection
              (click)="appSettingsFacade.setSidebarOpened(true)"
            >
              <div
                class="flex justify-center gap-2"
                [ngClass]="{ 'w-full': !appSettingsFacade.isSidebarOpen$() }"
              >
                <hlm-icon name="radixLightningBolt" size="1.25rem"></hlm-icon>
                @if (appSettingsFacade.isSidebarOpen$()) {
                {{ 'sidebar.selection' | translate }}
                }
              </div>
              @if (appSettingsFacade.isSidebarOpen$()) {
              <hlm-icon hlmAccIcon />
              }
            </button>
            <span *brnTooltipContent>
              @if (!selectedElement()) {
              <div class="max-w-80">
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.selection.nothing_selected' | translate }}
                </p>
                <p>
                  {{ 'sidebar.tooltip.selection.hint' | translate }}
                </p>
              </div>
              } @else {
              <div class="max-w-80">
                <p>
                  {{ 'sidebar.tooltip.selection.hint' | translate }}
                </p>
              </div>
              }
            </span>
          </hlm-tooltip>

          <brn-accordion-content hlm class="pb-0">
            @if(selectedElement()) {

            <grid-builder-selectable-form></grid-builder-selectable-form>
            } @else {
            <div class="flex flex-col gap-2">
              <p class="text-destructive">
                {{ 'sidebar.tooltip.selection.nothing_selected' | translate }}
              </p>
              <p>
                {{ 'sidebar.tooltip.selection.hint' | translate }}
              </p>
            </div>
            }
          </brn-accordion-content>
        </div>

        <!-- Viewport -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              (click)="appSettingsFacade.setSidebarOpened(true)"
            >
              <div
                class="flex justify-center gap-2"
                [ngClass]="{ 'w-full': !appSettingsFacade.isSidebarOpen$() }"
              >
                <hlm-icon name="radixLaptop" size="1.25rem"></hlm-icon>
                @if (appSettingsFacade.isSidebarOpen$()) {
                {{ 'sidebar.viewport' | translate }}
                }
              </div>
              @if (appSettingsFacade.isSidebarOpen$()) {
              <hlm-icon hlmAccIcon />
              }
            </button>
            <span *brnTooltipContent>
              <div class="flex flex-col gap-2 max-w-80">
                <p>{{ 'sidebar.tooltip.viewport.one_liner' | translate }}</p>
                <p>
                  {{ 'sidebar.tooltip.viewport.recommendation' | translate }}
                </p>
                <p>
                  {{ 'sidebar.tooltip.viewport.ordering' | translate }}
                </p>

                <div>
                  <p>
                    {{
                      'sidebar.tooltip.viewport.mixed_ordering.description'
                        | translate
                    }}
                  </p>
                  <ul class="px-8 list-decimal">
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.1' | translate
                      }}
                    </li>
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.2' | translate
                      }}
                    </li>
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.3' | translate
                      }}
                    </li>
                    <li>
                      {{
                        'sidebar.tooltip.viewport.mixed_ordering.4' | translate
                      }}
                    </li>
                  </ul>
                </div>
              </div>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-viewport-form></grid-builder-viewport-form>
          </brn-accordion-content>
        </div>

        <!-- Grid -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              (click)="appSettingsFacade.setSidebarOpened(true)"
            >
              <div
                class="flex justify-center gap-2"
                [ngClass]="{ 'w-full': !appSettingsFacade.isSidebarOpen$() }"
              >
                <hlm-icon name="radixTable" size="1.25rem"></hlm-icon>
                @if (appSettingsFacade.isSidebarOpen$()) {
                {{ 'sidebar.grid' | translate }}
                }
              </div>
              @if (appSettingsFacade.isSidebarOpen$()) {
              <hlm-icon hlmAccIcon />
              }
            </button>
            <span *brnTooltipContent>
              <div class="flex flex-col gap-2 max-w-80">
                <p>{{ 'sidebar.tooltip.grid.one_liner' | translate }}</p>
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.grid.hint' | translate }}
                </p>
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.grid.hint2' | translate }}
                </p>
              </div>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-grid-form></grid-builder-grid-form>
          </brn-accordion-content>
        </div>

        <!-- Alignment -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              (click)="appSettingsFacade.setSidebarOpened(true)"
            >
              <div
                class="flex justify-center gap-2"
                [ngClass]="{ 'w-full': !appSettingsFacade.isSidebarOpen$() }"
              >
                <hlm-icon name="radixRulerSquare" size="1.25rem"></hlm-icon>
                @if (appSettingsFacade.isSidebarOpen$()) {
                {{ 'sidebar.alignment' | translate }}
                }
              </div>
              @if (appSettingsFacade.isSidebarOpen$()) {
              <hlm-icon hlmAccIcon />
              }
            </button>
            <span *brnTooltipContent>
              <div class="flex flex-col gap-2 max-w-80">
                <p>{{ 'sidebar.tooltip.alignment.one_liner' | translate }}</p>
                <p>{{ 'sidebar.tooltip.alignment.items' | translate }}</p>
                <p>{{ 'sidebar.tooltip.alignment.content' | translate }}</p>
                <p class="text-destructive">
                  {{ 'sidebar.tooltip.alignment.hint' | translate }}
                </p>
              </div>
            </span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-alignment-form></grid-builder-alignment-form>
          </brn-accordion-content>
        </div>

        <!-- Gaps -->
        <div hlmAccordionItem>
          <hlm-tooltip>
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              (click)="appSettingsFacade.setSidebarOpened(true)"
            >
              <div
                class="flex justify-center gap-2"
                [ngClass]="{ 'w-full': !appSettingsFacade.isSidebarOpen$() }"
              >
                <hlm-icon name="radixDashboard" size="1.25rem"></hlm-icon>
                @if (appSettingsFacade.isSidebarOpen$()) {
                {{ 'sidebar.gaps' | translate }}
                }
              </div>
              @if (appSettingsFacade.isSidebarOpen$()) {
              <hlm-icon hlmAccIcon />
              }
            </button>
            <span *brnTooltipContent
              ><p class="max-w-80">
                {{ 'sidebar.tooltip.gaps' | translate }}
              </p></span
            >
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-gap-form></grid-builder-gap-form>
          </brn-accordion-content>
        </div>
        <!-- Globals -->
        <div hlmAccordionItem>
          <hlm-tooltip class="dark:bg-neutral-900">
            <button
              class="h-6 py-2"
              hlmAccordionTrigger
              hlmTooltipTrigger
              aria-describedby="title"
              position="right"
              (click)="appSettingsFacade.setSidebarOpened(true)"
            >
              <div
                class="flex justify-center gap-2"
                [ngClass]="{ 'w-full': !appSettingsFacade.isSidebarOpen$() }"
              >
                <hlm-icon name="radixGlobe" size="1.25rem"></hlm-icon>
                @if (appSettingsFacade.isSidebarOpen$()) {
                {{ 'sidebar.globals' | translate }}
                }
              </div>
              @if (appSettingsFacade.isSidebarOpen$()) {
              <hlm-icon hlmAccIcon />
              }
            </button>
            <span *brnTooltipContent>{{
              'sidebar.tooltip.globals' | translate
            }}</span>
          </hlm-tooltip>
          <brn-accordion-content hlm>
            <grid-builder-globals-form></grid-builder-globals-form>
          </brn-accordion-content>
        </div>
      </div>
      @if (appSettingsFacade.isSidebarOpen$()) {

      <div class="flex flex-col gap-2">
        <!-- row / column controls -->

        <div class="w-full flex justify-between items-center gap-4">
          <hlm-tooltip class="dark:bg-neutral-900">
            <button
              hlmBtn
              hlmTooltipTrigger
              position="above"
              aria-describedby="title"
              variant="outline"
              class="group hover:border-red-500 dark:hover:border-red-500 p-2"
              (click)="removeRow()"
            >
              <hlm-icon
                class="group-hover:text-red-500 dark:text-white"
                name="radixMinus"
                size="0.75rem"
              ></hlm-icon>
            </button>
            <span *brnTooltipContent
              ><p class="max-w-80">
                {{ 'actions.descriptions.remove_row' | translate }}
              </p></span
            >
          </hlm-tooltip>
          <span>{{ 'sidebar.rows' | translate }}</span>

          <grid-builder-tooltip-button
            position="above"
            variant="default"
            [description]="'actions.descriptions.add_row' | translate"
            [classOverride]="'p-2 border border-transparent'"
            (click)="addRow()"
          >
            <hlm-icon name="radixPlus" size="0.75rem"></hlm-icon>
          </grid-builder-tooltip-button>
        </div>

        <div class="w-full flex justify-between items-center gap-4">
          <hlm-tooltip class="dark:bg-neutral-900">
            <button
              hlmBtn
              hlmTooltipTrigger
              position="above"
              aria-describedby="title"
              variant="outline"
              class="group hover:border-red-500 dark:hover:border-red-500 p-2"
              (click)="removeCol()"
            >
              <hlm-icon
                class="group-hover:text-red-500 dark:text-white"
                name="radixMinus"
                size="0.75rem"
              ></hlm-icon>
            </button>
            <span *brnTooltipContent
              ><p class="max-w-80">
                {{ 'actions.descriptions.remove_column' | translate }}
              </p></span
            >
          </hlm-tooltip>
          <span>{{ 'sidebar.columns' | translate }}</span>
          <grid-builder-tooltip-button
            position="above"
            variant="default"
            [description]="'actions.descriptions.add_column' | translate"
            [classOverride]="'p-2 border border-transparent'"
            (click)="addCol()"
          >
            <hlm-icon name="radixPlus" size="0.75rem"></hlm-icon>
          </grid-builder-tooltip-button>
        </div>

        <!-- reset controls -->

        <div class="w-full flex justify-between items-center gap-2">
          <grid-builder-tooltip-button
            position="above"
            variant="ghost"
            [description]="'actions.descriptions.reset' | translate"
            class="w-full group"
            (click)="reset()"
          >
            <span class="group-hover:text-red-500">{{
              'actions.reset' | translate
            }}</span>
          </grid-builder-tooltip-button>

          <grid-builder-tooltip-button
            position="above"
            variant="outline"
            [description]="'actions.descriptions.delete_grid' | translate"
            class="w-full group text-nowrap hover:border-red-500 dark:hover:border-red-500"
            (click)="removeGrid()"
          >
            <span class="group-hover:text-red-500">{{
              'actions.delete_grid' | translate
            }}</span>
          </grid-builder-tooltip-button>
        </div>
      </div>
      }
    </div>
  </form>
</div>
