<div class="h-full w-full flex flex-col gap-2 items-center flex-grow">
  <h3
    class="bg-muted w-full h-10 grid place-items-center rounded-md font-medium text-gray-800"
  >
    Areas
  </h3>

  <div
    [id]="'areaList'"
    cdkDropList
    class="flex-grow w-full flex flex-col gap-2"
  >
    @for (item of items(); track item.id) {
    <div
      cdkDrag
      [cdkDragData]="item.id"
      class="h-14 w-full rounded-sm border-4 relative cursor-grab"
      (click)="select(item.id)"
      [ngStyle]="{
        'border-color': item.color.startsWith('#')
          ? item.color
          : '#' + item.color
      }"
    >
      <div
        class="w-full h-full opacity-40 grid place-items-center"
        [ngStyle]="{
       'background-color': item.color.startsWith('#')
        ? item.color
        : '#' + item.color,
      }"
      ></div>
      <div class="absolute top-0 w-full h-full grid place-items-center">
        <span class="px-2 text-xs break-words backdrop-blur-md opacity-100">{{
          item.name
        }}</span>
      </div>
      <div class="line" *cdkDragPlaceholder></div>
    </div>

    }
    <fluent-button class="w-full" appearance="accent" (click)="addItem()"
      >+</fluent-button
    >
  </div>
</div>
